In [37]:
import pandas as pd
from sklearn.model_selection import train_test_split
avocados=pd.read_csv("avocado.csv")
from sklearn.metrics import mean_absolute_error

In [13]:
avocados.columns

Index(['Unnamed: 0', 'Date', 'AveragePrice', 'Total Volume', '4046', '4225',
       '4770', 'Total Bags', 'Small Bags', 'Large Bags', 'XLarge Bags', 'type',
       'year', 'region'],
      dtype='object')

In [14]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()

In [15]:
avocados.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [32]:
kolumny=['Unnamed: 0', 'Total Volume', '4046', '4225',
       '4770', 'Total Bags', 'Small Bags', 'Large Bags', 'XLarge Bags',
       'year']

In [42]:
X=avocados[kolumny]
y=avocados.AveragePrice

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [45]:
model.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [64]:
preds=model.predict(X_test)

In [65]:
print("Mean Absolute Error: " + str(mean_absolute_error(preds, y_test)))

Mean Absolute Error: 0.11073949858874314

In [66]:
preds[0:10]

array([0.985, 1.014, 1.353, 0.924, 1.528, 1.433, 1.963, 0.944, 2.273,
       1.772])

In [49]:
y[0:10]

0    1.33
1    1.35
2    0.93
3    1.08
4    1.28
5    1.26
6    0.99
7    0.98
8    1.02
9    1.07
Name: AveragePrice, dtype: float64